<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/loginCss.css" rel="stylesheet"/>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="post">
    <input type="text" name="userId" placeholder="UserID" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>

<!-- 错误消息显示 -->
<div th:if="${error}" class="error-message" th:text="${error}"></div>
</body>
</html>